body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 11, 11); 
    color: #333;
  }
  
  header {
    background-color: #855468;
    color: hsl(0, 96%, 49%);
    text-align: center;
    padding: 2rem 1rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  .banner {
    background-color: rgb(255, 218, 9);
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .sobre {
    background-color: #855468;
    padding: 2rem;
  }
  
  .galeria {
    background-color: #fce4ec;
    padding: 2rem;
  }
  
  .textos {
    background-color: #02111b;
    padding: 2rem;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0,5rem;
    border: 1px solid #030000;
    border-radius: 6px;
    resize: vertical;
  }
  
  img.imagem-exemplo {
    width: 50%;
    max-width: 500px;
    height: auto;
    border: 3px dashed #4CAF50;
    border-radius: 10px;
    margin: 1rem 0;
  }
  
  footer {
    background-color: aqua;
    color:black;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }